<form #f="ngForm" (ngSubmit)="submit(f)">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="new-account-name">Name:</label>
                    <input [(ngModel)]="inputModel.accountName" required [minlength]="3" [maxlength]="100"
                        class="form-control" name="accountName" id="new-account-name" type="text" />
                </div>
            </div>
            <div class="col-md-4">
                <label for="account-currency">Currency</label>
                <select id="account-currency" class="basic-input form-control" ngModel name="currencyId"
                    [(ngModel)]="inputModel.selectedCurrencyId" (change)="onCurrencyChanged()"
                    [disabled]="inputModel.editMode" required>
                    <option *ngFor="let currency of viewModel?.currencyViewModels" [value]="currency.id">
                        {{currency.name}}</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="account-period-type">Period Type</label>
                <select id="account-period-type" class="basic-input form-control"
                    [(ngModel)]="inputModel.selectedPeriodTypeId" name="periodType" [disabled]="inputModel.editMode"
                    required>
                    <option *ngFor="let item of viewModel?.periodTypeViewModels" [value]="item.id">
                        {{item.name}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="account-type">Account Type</label>
                <select id="account-type" class="basic-input form-control"
                    [(ngModel)]="inputModel.selectedAccountTypeId" name="accountTypeId" required>
                    <option *ngFor="let item of viewModel?.accountTypeViewModels" [value]="item.id">
                        {{item.name}}</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="account-financial-entity">Financial Entity</label>
                <select id="account-financial-entity" class="basic-input form-control" ngModel name="financialEntityId"
                    [(ngModel)]="inputModel.selectedFinancialEntityId" (change)="onFianancialEntityChanged()">
                    <option *ngFor="let item of viewModel?.financialEntityViewModels" [value]="item.id">
                        {{item.name}}</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="account-spend-type">Default Spend Type</label>
                <select id="account-spend-type" class="basic-input form-control"
                    [(ngModel)]="inputModel.selectedSpendTypeId" name="spendTypeId" required>
                    <option *ngFor="let item of viewModel?.spendTypeViewModels" [value]="item.id"
                        [selected]="item.isSelected">
                        {{item.name}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="base-budget">Base Budget</label>
                <input [(ngModel)]="inputModel.amount" required name="baseBudget" type="number" id="base-budget"
                    class="basic-input form-control" placeholder="Amount"
                    pattern="^(0*[0-9][0-9]*(\.[0-9]+)?|0+\.[0-9]*[1-9][0-9]*)$" />
            </div>
            <div class="col-md-4">
                <label for="header-color">Header Color</label>
                <input *ngIf="viewModel?.accountStyle?.borderColor" type="color" ngModel id="header-color"
                    name="headerColor" [ngModel]="viewModel.accountStyle?.headerColor"
                    class="basic-input form-control form-control-color" />
            </div>
            <div class="col-md-4">
                <label for="border-color">Border Color</label>
                <input *ngIf="viewModel?.accountStyle?.borderColor" type="color" ngModel id="border-color"
                    name="borderColor" [ngModel]="viewModel.accountStyle?.borderColor"
                    class="basic-input form-control form-control-color" />
            </div>
        </div>
        <div class="row" *ngIf="inputModel.selectedCurrencyId">
            <div class="col-lg-4">
                <label for="parent-accounts">Include in accounts...</label>
                <select id="parent-accounts" class="basic-input form-control" multiple>
                    <option *ngFor="let item of getIncludedAccounts()" [ngValue]="item.id"
                        (click)="accountIncludeClick(item)">
                        {{item.name}}</option>
                </select>
            </div>
            <div class="col-md-8">
                <!-- <ul>
                    <li *ngFor="let item of selectedParentAccs">{{item.name}}<span (click)="removeAccountInclude(item)">
                            X</span></li>
                </ul> -->
                <table class="table table-bordered table-low-margin">
                    <thead>
                        <tr>
                            <th data-field="Budget">Account</th>
                            <th data-field="Spent">Exchange</th>
                            <th data-field="Balance">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let parAccount of inputModel.selectedParentAccs">
                            <td>{{parAccount.name}} - {{parAccount.id}}</td>
                            <td>
                                <select class="basic-input form-control" [name]="'acci-' + parAccount.id"
                                    [(ngModel)]="inputModel.selectedMethodIds[parAccount.id]" required>
                                    <option *ngFor="let method of parAccount.methodIds" [ngValue]="method">
                                        {{method.name}}
                                    </option>
                                </select>
                            </td>
                            <td>
                                <app-bs-icon (click)="removeAccountInclude(parAccount)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-trash" viewBox="0 0 16 16">
                                        <path
                                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                        <path
                                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                    </svg>
                                </app-bs-icon>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="account-group">Account Group</label>
                <select id="account-group" class="basic-input form-control"
                    [(ngModel)]="inputModel.selectedAccountGroupId" name="accountGroupId" required>
                    <option *ngFor="let accountGroup of viewModel?.accountGroupViewModels" [value]="accountGroup.id">
                        {{accountGroup.name}}</option>
                </select>
            </div>
        </div>
        <!-- <div>
            {{f.value| json}}
        </div> -->
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-outline-dark" (click)="onClose()">Close</button>
                <button [disabled]="f.invalid" type="submit" class="btn btn-outline-dark">Submit</button>
            </div>
        </div>
        <div>
            {{inputModel.selectedMethodIds | json}}
        </div>
    </div>
</form>