<form #f="ngForm" (ngSubmit)="submit(f)">
    <div class="modal-header" [ngClass]="{
        'is-spending-header': isSpending,
        'is-income-header': !isSpending
    }">
        <h4 class="modal-title">{{isSpending ? 'New Expense' : 'New Income'}}</h4>
        <button type="button" class="btn-close" aria-label="Close"
            (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-6">
                <input ngModel required name="amount" type="number" id="add-trx-amount" class="basic-input form-control"
                    placeholder="Amount" pattern="^(0*[1-9][0-9]*(\.[0-9]+)?|0+\.[0-9]*[1-9][0-9]*)$" />
            </div>
            <div class="col-sm-6">
                <select id="add-trx-currency" class="basic-input form-control" [(ngModel)]="selectedCurrencyId"
                    name="currencyId">
                    <option *ngFor="let currency of addTrxModel?.supportedCurrencies" [value]="currency.id">
                        {{currency.name}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <select id="add-trx-type" [(ngModel)]="selectedSpendingTypeId" class="basic-input form-control"
                    name="spendTypeId">
                    <option *ngFor="let spendingType of addTrxModel?.spendTypeViewModels" [value]="spendingType.id">
                        {{spendingType.name}}
                    </option>
                </select>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <input ngModel [minlength]="3" [maxlength]="100" class="form-control" name="description"
                        id="description" type="text" placeholder="Description" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <input ngModel type="datetime-local" [min]="addTrxModel?.initialDate"
                        [max]="addTrxModel?.userEndDate" name="spendDate" class="basic-input form-control"
                        [value]="addTrxModel?.suggestedDate" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="basic-input form-control">
                    <div class="form-check">
                        <input mdbCheckbox [(ngModel)]="isDefaultPending" name="isPending" class="form-check-input"
                            type="checkbox" id="new-trx-pending" />
                        <label class="form-check-label" for="new-trx-pending">
                            Pending
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="radio">
                    <label for="expense">
                        <input required [(ngModel)]="isSpending" type="radio" id="expense" name="trxType"
                            [value]="true">
                        Expense
                    </label>
                </div>
                <div class="radio">
                    <label for="income">
                        <input required [(ngModel)]="isSpending" type="radio" id="income" name="trxType"
                            [value]="false">
                        Income
                    </label>
                </div>
            </div>
        </div>
        <!-- <span>Form Value: {{f.value | json}}</span> -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
        <button type="submit" class="btn btn-outline-dark">Submit</button>
    </div>
</form>