.selected {
    background-color: #d9edf7;
    /* Example color */
}

.table-selectable {
    cursor: pointer;
}

.row {
    padding-top: 5px;
}

.form-control.ng-invalid.ng-touched {
    border: 2px solid red;
}