<form #f="ngForm" (ngSubmit)="submit(f)">
    <div>
        <button type="button" class="btn-close" aria-label="Close"
            (click)="activeModal.dismiss('Cross click')"></button>
        <h4 class="modal-title">Bank Transactions</h4>
    </div>
    <div class="modal-body">
        <div class="row" *ngIf="bankTransactions">
            <div class="col-md-12">
                <table class="table table-bordered table-low-margin">
                    <thead>
                        <tr>
                            <th data-field="Reference">Reference</th>
                            <th data-field="Amount">Amount</th>
                            <th data-field="Description">Description</th>
                            <th data-field="Date">Date</th>
                            <th data-field="Status">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of bankTransactions">
                            <td>{{item.transaction.transactionId}}</td>
                            <td>{{item.transaction.originalAmount | currencyAmount: item.currency.symbol}}</td>
                            <td>{{item.transaction.description}}</td>
                            <td>{{item.transaction.transactionDate | date:"yy/MM/dd"}}</td>
                            <td>{{item.dbStatus}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
        <button type="submit" class="btn btn-outline-dark">Submit</button>
    </div>
</form>