<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">My Website</a>
        <div class="collapse navbar-collapse" [ngClass]="{'show': !isMainCollapsed}" id="navbarNav">
            <ul class="navbar-nav" id="main-ul">
                <app-nav-bar-menu *ngFor="let item of items" [menuItem]="item">
                </app-nav-bar-menu>
            </ul>
        </div>
        <button class="navbar-toggler" type="button" (click)="toggleCollapse()">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>