<!--The content below is only a placeholder and can be replaced.-->
<div class="align-center">
    <h2>User Login</h2>
    <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
        <input required placeholder="Username" type="text" name="username" [(ngModel)]="username" />
        <input required placeholder="Password" type="password" name="password" [(ngModel)]="password" />
        <div class="btn-div">
            <button type="submit" [disabled]="!myForm.valid" class="login-btn">
                Login
            </button>
        </div>
        <span>submitte: {{myForm.submitted}}</span>
        <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
            {{errorMessage}}
        </div>
    </form>
</div>