<div class="container">
    <form (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col">
                <label>
                    Username:
                    <input type="email" name="email" [(ngModel)]="username" required />
                </label>
            </div>
            <br />
            <br />
            <label>
                Password:
                <input type="password" name="password" [(ngModel)]="password" required />
            </label>
        </div>
        <div class="row">
            <div class="col"><button class="btn btn-primary" type="submit">Login</button></div>
        </div>
    </form>
</div>