<div ngbAccordion [closeOthers]="false" id="main-view-acc">
    <div ngbAccordionItem *ngFor="let acc of groups" [collapsed]="!isActive(acc.id)" [id]="getAccountGroupIdPattern(acc.id)">
        <h2 ngbAccordionHeader>
            <button ngbAccordionButton>{{acc.name}}</button>
        </h2>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <ng-template>
                    <app-acc-group [accountGroup]="acc"></app-acc-group>
                </ng-template>
            </div>
        </div>
    </div>
</div>
