<div *ngIf="dataGridSource && dataGridSource.cols && columnsNumber > 0" class="example-container" cdkDropListGroup>
    <div *ngFor="let col of dataGridSource.cols" cdkDropList [cdkDropListData]="col.items" class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of col.items" cdkDrag>
            <div class="box-content">
                    <span style="font-weight: bold;">{{item.name}} </span><br/>
                    <button style="margin: 5px;" type="button" class="btn btn-outline-secondary">Edit</button>
                    <button type="button" class="btn btn-outline-danger">Delete</button>
            </div>
        </div>
    </div>
</div>