<div *ngIf="dataSource && dataSource.length > 0">
    <div class="history-head">
        <h4>Execution history</h4>
    </div>
    <div class="history-table-wrap">
        <table class="history">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Message</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let element of dataSource">
                    <td class="date"> {{element.executedDate | date: 'dd/MM HH:mm'}}</td>
                    <td>
                        <app-task-status [taskStatus]="element.status"></app-task-status>
                    </td>
                    <td class="msg"> {{element.message}} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div *ngIf="dataSource && dataSource.length === 0" class="history-empty">
    No execution records yet.
</div>
