<li *ngIf="!menuItem?.isActive">
    <a class="nav-link" [routerLink]="[menuItem?.routingLink]">{{menuItem?.name}}</a>
</li>

<li *ngIf="menuItem?.isActive" (click)="$event.stopPropagation()">
    <a [ngClass]="menuItem?.subMenus ? 'nav-link active dropdown-toggle' : 'nav-link active'" (click)="subMenuClick()">{{menuItem?.name}}</a>
    <div *ngIf="menuItem?.subMenus" [ngClass]="{'show': showSubmenus}" class="dropdown-menu"
        aria-labelledby="navbarDropdown">
        <a *ngFor="let subMenu of menuItem?.subMenus" class="dropdown-item" routerLink="#">{{subMenu}}</a>
    </div>
</li>