<div class="btn-space"><button type="button" class="btn btn-outline-info" *ngIf="confirmPaymentBtnEnabled"
                (click)="onConfirmPaymentBtnClick()">Confirm
                Payment</button></div>
<div class="btn-space"><button type="button" class="btn btn-outline-info" *ngIf="rejectBtnEnabled"
                (click)="onRejectBtnClick()">Reject</button>
</div>
<div class="btn-space"><button type="button" class="btn btn-outline-info" *ngIf="resetBtnEnabled"
                (click)="onResetBtnClick()">Reset</button></div>