<div class="modal-header">
    <h4 class="modal-title">User preferences</h4>
    <button type="button" class="btn-close" aria-label="Close"
        (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="container">
    <div class="row form-row">
        <div class="col-md-3">
            <label for="new-transfer-account">Periods limit:</label>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-3">
            <input class="form-control" type="number" min="1" max="24" [(ngModel)]="periodsLimit" (blur)="periodsLimitLeft()"/>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>