<div class="row" [style]="{'background': acc.frontStyle.headerColor}">
    <div class="col-md-4">
        <span class="main-box-title">{{acc.accountName}}</span>
    </div>
    <div class="col-md-7">
        <span class="main-box-title">{{selectedAccountPeriod?.name}}</span>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-3">
        <label class="box-title">Period Summary</label>
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <select class="form-select" [(ngModel)]="mainViewModel.periodIds[acc.accountId]"
            (ngModelChange)="onPeriodChanged($event)">
            <option *ngFor="let accPeriod of orderedPeriods()" [ngValue]="accPeriod.accountPeriodId"
                [selected]="accPeriod.accountPeriodId == acc.currentPeriodId">{{accPeriod.name}}</option>
        </select>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-low-margin" [class.table-checking]="acc.type === 1"
            [class.table-savings]="acc.type === 2" [class.table-bank]="acc.type === 3">
            <thead>
                <tr>
                    <th data-field="Budget">Budget</th>
                    <th data-field="Spent">Spending</th>
                    <th data-field="Balance">Balance</th>
                    <th data-field="OverallBalance">Overall Balance</th>
                    <th data-field="OverallBalanceToday">Balance As Of Today</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{acc.financeData?.numBudget}}</td>
                    <td>{{acc.financeData?.numSpent}}</td>
                    <td>{{acc.financeData?.numPeriodBalance}}</td>
                    <td>{{acc.financeData?.numGeneralBalance}}</td>
                    <td>{{acc.financeData?.numGeneralBalanceToday}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <button type="button" class="btn btn-outline-danger">New Expense</button>
        <button type="button" class="btn btn-outline-success">Add Income</button>
        <button type="button" class="btn btn-outline-primary">Transfer</button>
        <button type="button" class="btn btn-outline-secondary">Excel</button>
    </div>
</div>
<br />
<div class="row">
    <div class="col">
        <button class="btn btn-secondary">Account Summary</button>
        <button class="btn btn-secondary" (click)="toggleTrxList();">Show Period Activity</button>
    </div>
</div>
<div class="row" *ngIf="showTraxList">
    <div class="col">
        <table class="table table-bordered table-low-margin">
            <thead>
                <tr>
                    <th data-field="Date">Date</th>
                    <th data-field="Amount">Amount</th>
                    <th data-field="Type">Type</th>
                    <th data-field="Actions">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let trx of acc.financeData?.spendViewModels" [ngClass]="{'is-pending':trx.isPending}">
                    <td>{{ trx.spendDate | date:"dd/MM/yy" }}</td>
                    <td>
                        <app-trx-amount [account]="acc" [spendViewModel]="trx"></app-trx-amount>
                    </td>
                    <td>{{trx.spendTypeName}}</td>
                    <td>Actions</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>