<div class="row" [style]="{'background': acc.frontStyle.headerColor}">
    <div class="col-md-4">
        <span class="main-box-title">{{acc.accountName}}</span>
        <app-bs-icon (click)="openNotesModal(acc)" [ngbTooltip]="acc.noteTitle || 'Click to add notes'" placement="top">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-journal-text" viewBox="0 0 16 16">
                <path
                    d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5" />
                <path
                    d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2" />
                <path
                    d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z" />
            </svg>
        </app-bs-icon>
    </div>
    <div class="col-md-7">
        <span *ngIf="!isFilterMode()" class="main-box-title">{{selectedAccountPeriod?.name}}</span>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-3">
        <label *ngIf="!isFilterMode()" class="box-title">Period Summary</label>
        <button *ngIf="isFilterMode()" type="button" class="btn btn-outline-success"
            (click)="downloadFilteredExcelFile()">Excel</button>
    </div>
    <div class="col-md-3">
    </div>
    <!-- <div class="col-md-1">
    </div> -->
    <div class="col-md-1">
        <ng-container *ngIf="!acc.financeData?.trxFilters">
            <app-bs-icon (click)="onFilterClicked()" [ngbTooltip]="'Filter'" placement="top">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter"
                    viewBox="0 0 16 16">
                    <path
                        d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5" />
                </svg>
            </app-bs-icon>
        </ng-container>
        <ng-container *ngIf="acc.financeData?.trxFilters">
            <app-bs-icon (click)="onFilterRemoveClicked()" [ngbTooltip]="'Remove filters'" placement="top">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eraser"
                    viewBox="0 0 16 16">
                    <path
                        d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828zm2.121.707a1 1 0 0 0-1.414 0L4.16 7.547l5.293 5.293 4.633-4.633a1 1 0 0 0 0-1.414zM8.746 13.547 3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293z" />
                </svg>
            </app-bs-icon>
        </ng-container>
    </div>
    <div class="col-md-5" *ngIf="!acc.financeData?.trxFilters">
        <select class="form-select" [(ngModel)]="mainViewModel.periodIds[acc.accountId]"
            (ngModelChange)="onPeriodChanged($event)" [disabled]="isFilterMode()">
            <option *ngFor="let accPeriod of orderedPeriods()" [ngValue]="accPeriod.accountPeriodId">{{accPeriod.name}}
            </option>
        </select>
    </div>
    <div class="col-md-5" *ngIf="acc.financeData?.trxFilters">
        <span>{{getTrxFilterNames(acc.financeData?.trxFilters)}}</span>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-low-margin" [class.table-checking]="acc.type === 1"
            [class.table-savings]="acc.type === 2" [class.table-bank]="acc.type === 3">
            <thead>
                <tr>
                    <th data-field="Budget">Budget</th>
                    <th data-field="Spent">Spending</th>
                    <th data-field="Balance">Balance</th>
                    <th data-field="OverallBalance">Overall Balance</th>
                    <th data-field="OverallBalanceToday">Balance As Of Today</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{acc.financeData?.numBudget}}</td>
                    <td>{{acc.financeData?.numSpent}}</td>
                    <td>{{acc.financeData?.numPeriodBalance}}</td>
                    <td>{{acc.financeData?.numGeneralBalance}}</td>
                    <td>{{acc.financeData?.numGeneralBalanceToday}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row" *ngIf="!isFilterMode()">
    <div class="col-md-8">
        <button type="button" class="btn btn-outline-danger" (click)="newExpenseClick()">New Expense</button>
        <button type="button" class="btn btn-outline-success" (click)="newSpendingClick()">Add Income</button>
        <button type="button" class="btn btn-outline-primary" (click)="newTransferClick()">Transfer</button>
        <button type="button" class="btn btn-outline-secondary" (click)="downloadExcelFile()">Excel</button>
    </div>
</div>
<br />
<div class="row" *ngIf="!isFilterMode()">
    <div class="col">
        <button class="btn btn-secondary" (click)="toggleTrxList();">Show Period Activity</button>
    </div>
</div>
<div class="row" *ngIf="showTraxList">
    <app-trx-table [acc]="acc" (confirmTransaction)="confirmTransaction($event);" (trxDelete)="onTrxDelete($event)"
        (trxEdit)="onTrxEdit($event)" (selectedDelete)="onSelectedDelete($event)"
        (selectedConfirm)="onSelectedConfirm($event)"></app-trx-table>
</div>