<div class="container-fluid text-center">
    <div class="row">
        <div class="col-md-6">
            <div class="text-center">All types</div>
            <app-transaction-types-table [transactionTypes]="allItems()"
                (textChanged)="onTextChanged($event)"></app-transaction-types-table>
        </div>
        <div class="col-md-6">
            <div class="text-center">My types</div>
            <app-transaction-types-table [transactionTypes]="userItems()"
                (textChanged)="onTextChanged($event)"></app-transaction-types-table>
        </div>
    </div>
</div>