<div class="container">
    <div class="row">
        <div class="col">
            <div href="/finance" class="d-flex justify-content-center align-items-center page-menu btn btn-light"
                (click)="onMenuClick('finance')">
                <h1>Finance Page</h1>
            </div>
        </div>
        <div class="col">
            <div href="/debt-manager" class="d-flex justify-content-center align-items-center page-menu btn btn-light"
                (click)="onMenuClick('debt-manager')">
                <h1>Debts Manager</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div href="/scheduled-tasks"
                class="d-flex justify-content-center align-items-center page-menu btn btn-light"
                (click)="onMenuClick('scheduled-tasks')">
                <h1>Scheduled Tasks</h1>
            </div>
        </div>
        <div class="col">
            <div href="/bank-trx" class="d-flex justify-content-center align-items-center page-menu btn btn-light"
                (click)="onMenuClick('bank-trx')">
                <h1>Bank Transactions</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div href="/accounts" class="d-flex justify-content-center align-items-center page-menu btn btn-light"
                (click)="onMenuClick('accounts')">
                <h1>Accounts</h1>
            </div>
        </div>
        <div class="col">
            <div href="/transaction-types"
                class="d-flex justify-content-center align-items-center page-menu btn btn-light"
                (click)="onMenuClick('transaction-types')">
                <h1>Transaction Types</h1>
            </div>
        </div>
    </div>

</div>